@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Eliminar Cuenta ";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong>Si borra su usuario esta acción no podrá ser reestablecida.</strong>
        </p>

        <p>
            <a id="delete" asp-page="Borrar Cuenta" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
