@inherits EstadisticasPorMesBase

@if (datosGrafica != null) {
    

<h2>Distribución vacaciones Mensual</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
                
                
                <RadzenChart>
                    <RadzenLineSeries Smooth="true" Data="@datosGrafica" CategoryProperty="Nombre" Title="Dias Concedidos" LineType="LineType.Dashed" ValueProperty="Total">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                    </RadzenLineSeries>
                   @* <RadzenLineSeries Smooth="@smooth" Data="@serie2" CategoryProperty="Date" Title="Peticiones Canceladas" ValueProperty="Revenue">
                        <RadzenMarkers MarkerType="MarkerType.Diamond" />
                    </RadzenLineSeries>*@
                    <RadzenValueAxis >
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Total Días" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
}
