@inherits EstadisticasPorEstadoVacacionesBase

@if (this.DatosGrafico != null) {
    
<h2>Clasificación Peticiones</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3 my-5">
                <RadzenChart ColorScheme=@colorScheme>
                    <RadzenDonutSeries Data="@DatosGrafico.ToArray()" CategoryProperty="EstadoDia" ValueProperty="TotalDias">
                        <TitleTemplate>
                            <div class="rz-donut-content">
                                <div>Peticiones </div> 
                                <div>en @this.YearSeleccionado</div>
                            </div>
                        </TitleTemplate>
                    </RadzenDonutSeries>
                </RadzenChart>
            </div>
        </div>
    </div>
}

