@inject API _api;

@*Botones de seleccion*@
<RadzenCard Style="border:none;background-color:azure">

    <HeadearCalendario CancelarCambiosButtonListener=calendario.CancelarCambiosButtonListener SaveCalendarButtonListener=calendario.SaveCalendarButtonListener botonesVisibles=BotonesVisibles/>
    <br />
    <br />
    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" IsPill="true" Text="Selección Tipo Dia" />
    <br />
    <RadzenRadioButtonList @bind-Value=@valor TValue="string" @ref="radiobutton" >
        <Items>
            @foreach (var dataItem in data) {
                <RadzenRadioButtonListItem Style=@($"background-color:{dataItem.ColorRepresentacion}") Text="@dataItem.Descripcion" Value="@dataItem.Descripcion"  />
            }
        </Items>
    </RadzenRadioButtonList>
    <br />
   <p> Multiseleccion</p> 
   <RadzenSwitch @bind-Value=@Multiseleccion  />

     <CascadingValue Value="@Multiseleccion" Name="Multiseleccion">
        <CascadingValue Value="@valor" Name="EstadoDiaSeleccion">
            <InteractiveCalendar @ref="calendario" NotifyChange=NotifyChange/>
        </CascadingValue>
    </CascadingValue>
</RadzenCard>



@code{
    [Parameter]
    public bool BotonesVisibles{ get; set; }
    public void NotifyChange(bool change) {
        BotonesVisibles = !change;
    }




    public IEnumerable<TipoDiaCalendarioResponse> data { get; set; } = new List<TipoDiaCalendarioResponse>();

    protected override async Task OnParametersSetAsync() {
        data = await _api.GetAllTipoDiaCalendarioAsync();
        this.valor = data.First().Descripcion;
        this.radiobutton.Value = valor;
        StateHasChanged();
    }

    RadzenRadioButtonList<string> radiobutton;

    public string valor;

    public bool Multiseleccion { get; set; }
    InteractiveCalendar calendario=new();

}
