@using BlazorApp2.Pages.Gestion.CalendarioEquipo
@inherits CalendarioEquipoBase
<h3>CalendarioEquipo</h3>




@if (this.diasCalendario != null) {
 <div class="row mb-4">
        <div class="col">
            <h4 class="text-thin">Personal disponible 0(rojo)-100(verde)%</h4>
            <div style="pointer-events:none">

            <RadzenButton Icon="none" Style="background-color:#FF0000"/>
            <RadzenButton Icon="none" Style="background-color:#FF6600 "/>
            <RadzenButton Icon="none" Style="background-color:#FFCC00"/>
            <RadzenButton Icon="none" Style="background-color:#CCFF00"/>
            <RadzenButton Icon="none" Style="background-color:#66FF00"/>
            <RadzenButton Icon="none" Style=@($"background-color:{System.Drawing.Color.LimeGreen.Name}")/>
            </div>
        </div>
    </div>


    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
                @foreach (var mes in OperacionesCalendario.DividirYearEnMeses(this.diasCalendario)) {
                    var xd = mes;
                    <div class="col mb-3">
                        <div class="card h-100">

                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary" IsPill="true" Text="@PublicVariables.Meses[mes.Key]" />

                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        
                            </div>
                            <RadzenCard>
                                <MonthCalendarioEquipo2 Mes=mes.Key datosMes=mes.Value  />
                            </RadzenCard>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}

