@inherits EstadisticasPeticionesAprobadasBase

@using BlazorApp2.Shared.Components.EstadisticasVacacionesAprobadas.Model

@if (this.datosGrafico != null) {
    <h2>Peticiones Aprobadas</h2>
    <div class="row my-5">
        <div class="col-sm-12 col-lg-8">
            <RadzenChart ColorScheme="@colorScheme">
                <RadzenValueAxis Min="0" Step="5">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Total Dias" />
                </RadzenValueAxis>
                <RadzenCategoryAxis>
                    <RadzenAxisTitle Text="Tipos Dias" />
                </RadzenCategoryAxis>
                @{
                        foreach (var t in this.TiposDias.OrderBy(X=>X.Descripcion)) {
                            var datos = datosGrafico.Where(r => r.Year == YearSeleccionado && r.TipoDia == t.Descripcion).OrderBy(X=> X.TipoDia);
                            if (datos.Any()) {
                                var titulo = datos.FirstOrDefault()?.TipoDia;
                                <RadzenColumnSeries LineType="LineType.Dashed" Data="@datos" CategoryProperty="TipoDia" ValueProperty="Total" Title=@titulo />
                            }
                        }
                }
                <RadzenLegend Visible="true" />

            </RadzenChart>
        </div>
        <div class="col-sm-12 col-lg-4">

            <RadzenChart ColorScheme="@colorScheme">
                <RadzenLegend Visible="false" />
                <RadzenPieSeries Data="@datosGrafico.Where(r => r.Year == YearSeleccionado)" Title="Total" CategoryProperty="TipoDia" ValueProperty="Total" />
            </RadzenChart>
        </div>
    </div>
}


