@page "/CreateEmployee"


@*
@if(!Done){


<PageTitle>Creating Employee</PageTitle>
<label>FirstName</label>
<input type="text" @bind="FirstName" /><br />
<label>LastName</label>
<input type="text" @bind="LastName" />

<button class="btn btn-primary" @onclick="SaveData">Save Data</button>
}
else{

    <p>Operation Completed</p>
}
*@


@code {
    public string FirstName;
    public string LastName;
    public bool Done = false;


    private void SaveData()
    {
        //swaggerClient ApiClient=new("https://localhost:7140/", new());;
        //ApiClient.CreateEmployeeAsync(new CreateEmployeeCommand() { FirstName = FirstName, LastName = LastName });
        //Done = true;
    }
}
