@page "/"

<PageTitle>Index</PageTitle>

<h1>Lectura de datos desde la API!</h1>



<button @onclick="go">Click me !</button><br />
@if(usuarios is null){
    <p> no data </p>
    <br />
}

else{
    @foreach(var e in usuarios.Take(5).ToList()) {
        <p> @($@"IdTecnico:{e.IdTecnico} 
            Nombre:{e.Nombre} 
            Apellido1:{e.Apellido1} 
            Apellido2:{e.Apellido2} 
            EmailCorporativo:{e.EmailCorporativo} 
            FechaAltaEmpresa:{ e.FechaAltaEmpresa}");
</p>
    }

}

@code{
    ICollection<UsuarioResponse> usuarios = null;
    swaggerClient ApiClient=null;
    protected override void OnAfterRender(bool firstRender) {
        base.OnAfterRender(firstRender);
        ApiClient = new("https://localhost:7140/", new());
        //empleados = ApiClient.EmployeeAllAsync().Result;
        StateHasChanged();
    }
    public void go() {
        usuarios= ApiClient.GetAllUsersAsync().Result;

        var usuario = usuarios.First().ToString();
    }

}