@page "/"
@inherits IndexCS
@inject SharePointAPI _sha;
@inject ApplicationAPI _app;

<PageTitle>Index</PageTitle>

<h1>Lectura de datos desde la API!</h1>

<button @onclick="go">Click me !</button><br />
@if(usuarios is null){
    <p> no data </p>
    <br />
}

else{
    @foreach(var e in usuarios.Take(5).ToList()) {
        <p> @($@"IdTecnico:{e.IdTecnico} 
            Nombre:{e.Nombre} 
            Apellido1:{e.Apellido1} 
            Apellido2:{e.Apellido2} 
            EmailCorporativo:{e.EmailCorporativo} 
            FechaAltaEmpresa:{ e.FechaAltaEmpresa}");
</p>
    }

}

@code{

    ICollection<UsuarioResponse> usuarios = null;


    public async Task  go() {
        usuarios = await _app.GetAllUsuariosAsync();
        var xd = await _sha.GetHolidayUserInDateAsync("hsolar@hiberus.com", DateTime.Parse("1-1-2018"), DateTime.Parse("1-1-2022"), "Aprobada");
        //var xd = f.Result;
        //var xds= await _app.Get();
        //var usuario = usuarios.First().ToString();
    }

}