
element.style {
}

.h-100 {
    width: 290px;
}

.Work {
    width: 100%;
    background-color: #228bd9;
}

.FreeHoliday {
    width: 100%;
    background-color: #4ad70e;
}

.Worked {
    width: 100%;
    background-color: #f19413;
}

.Holiday {
    width: 100%;
    background-color: #28b4a7;
}



