@page "/"
@using BlazorApp2.Areas.Identity
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider context

<PageTitle>Index</PageTitle>

<h1>Hello, </h1>
Página de presentación de la aplicación

@code{
    protected override Task OnInitializedAsync() {


        
        return base.OnInitializedAsync();
    }

}
