body {
    background-image: url("/img/HiberusFoto.jpg");
    background-color: steelblue;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -150px;
   

}
h1 {
    color: white;
}
p{
    color:white;
}