@inject API _api;
<h3>BotonesTiposDias</h3>


    <RadzenCard>
        <RadzenRadioButtonList @bind-Value=@valor TValue="string" >
            <Items>
                @foreach (var dataItem in data) {
                    <RadzenRadioButtonListItem Style=@($"background-color:{dataItem.ColorRepresentacion}") Text="@dataItem.Descripcion" Value="@dataItem.Descripcion"  />
                }
            </Items>
        </RadzenRadioButtonList>
        <br />
        <p>Multiseleccion</p>
        <RadzenSwitch @bind-Value=@Multiseleccion />

    </RadzenCard>

   



 <RadzenCard>
     <CascadingValue Value="@Multiseleccion" Name="Multiseleccion">
     <CascadingValue Value="@valor" Name="EstadoDiaSeleccion">
    <BlazorApp2.Pages.Peticiones.InteractiveCalendar.Calendar />
    </CascadingValue>
    </CascadingValue>
</RadzenCard>



@code {
    public IEnumerable<TipoDiaCalendarioResponse> data { get; set; } = new List<TipoDiaCalendarioResponse>();
    protected override async Task OnInitializedAsync() {
        data = await _api.GetAllTipoDiaCalendarioAsync();
        this.valor = data.First().ColorRepresentacion;
        StateHasChanged();
    }

    public void cambio() {
        
    }

    public string valor;

    public bool Multiseleccion { get; set; } 
}
