@inject API _api;
<h3>BotonesTiposDias</h3>


    <RadzenCard>
        <RadzenRadioButtonList  @bind-Value=@valor TValue="int" >
            <Items>
                @foreach (var dataItem in data) {
                    <RadzenRadioButtonListItem Style=@($"background-color:{dataItem.ColorRepresentacion}") Text="@dataItem.Descripcion" Value="@dataItem.Id"  />
                }
            </Items>
        </RadzenRadioButtonList>
        <br />
        <p>Multiseleccion</p>
        <RadzenSwitch Change=@(args => OnChange()) @ref="Switch" />

    </RadzenCard>

   



 <RadzenCard>
    <BlazorApp2.Pages.Peticiones.InteractiveCalendar.Calendar DayMultiseletionMode=Multiseleccion/>
</RadzenCard>



@code {
    RadzenSwitch Switch;
    public IEnumerable<TipoDiaCalendarioResponse> data { get; set; } = new List<TipoDiaCalendarioResponse>();

    protected override async Task OnInitializedAsync() {
        data = await _api.GetAllTipoDiaCalendarioAsync();
    }
    public void OnChange() {
        this.Multiseleccion = !Multiseleccion;
        Switch.Value = Multiseleccion;
    }


    public int valor;
    [Parameter]
    public bool Multiseleccion { get; set; }
}
