@page "/Gestion/AprobarPeticiones"
<h3>AprobarPeticiones</h3>

<BlazorApp2.Shared.Components.Solicitudes.GestionPeticiones.GestionPeticiones></BlazorApp2.Shared.Components.Solicitudes.GestionPeticiones.GestionPeticiones>

@code {

}
