@page "/Gestion/GestionEquipo"
@using BlazorApp2.Pages.GestionEquipo
@inherits  GestionEquipoBase
@inject API _api

<PageTitle>Gestion Equipo</PageTitle>




<RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="Datos Por Usuario Equipo" />
<RadzenCard Class="mt-4" Style="background-color:steelblue">
    <RadzenButton Click="()=>TarjetaComboVacacionesUsuario.Visible=!TarjetaComboVacacionesUsuario.Visible"
                  Text="@(TarjetaComboVacacionesUsuario.Visible? "Ocultar" : "Mostrar")"
                  ButtonStyle="@(TarjetaComboVacacionesUsuario.Visible? ButtonStyle.Light :  ButtonStyle.Primary)" style="margin-bottom: 10px" />
    <RadzenCard Class="mt-4" @ref="TarjetaComboVacacionesUsuario" Style="border:none;background-color:white">
        @if (this.proyectosUsuario != null) {

            <div style="align-self:center"> <h4>Proyectos:</h4> </div>
            <RadzenDropDownDataGrid TValue="string" Data=@(this.proyectosUsuario.Select(X=> X.Nombre))
                                Change=OnChange Style="align-self:center; width: 25%" @ref=dropdownProyectos />


            @if (this.proyectoSeleccionado != null) {
                <RadzenCard Visible=actualizarProyecto>
                    <BlazorApp2.Shared.Components.GestionEquipo.ComboVacacionesUsuario.CalendarioPorUsuarios Proyecto=proyectoSeleccionado _api=_api/>
                </RadzenCard>



            }
        }

    </RadzenCard>
</RadzenCard>



<br />


<RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="Calendario Anual Equipo" />
<br />
<br />



<RadzenCard Style="background-color:lightblue; border:none">


    <RadzenButton Click="()=>TarjetaCalendarioEquipo.Visible=!TarjetaCalendarioEquipo.Visible"
                  Text="@(TarjetaCalendarioEquipo.Visible? "Ocultar" : "Mostrar")"
                  ButtonStyle="@(TarjetaCalendarioEquipo.Visible? ButtonStyle.Light :  ButtonStyle.Secondary)" style="margin-bottom: 10px" />

    <RadzenCard Class="mt-4" @ref="TarjetaCalendarioEquipo" Style="border:none;background-color:white">
        @if(TotalUsuariosProyecto>0 && totalVacaciones!=null){
            <BlazorApp2.Shared.Components.GestionEquipo.CalendarioEquipo.CalendarioEquipo 
            totalDias=totalVacaciones TotalUsuarios=TotalUsuariosProyecto   proyectoActual=this.proyectoSeleccionado/>
        }
        
    </RadzenCard>
</RadzenCard>


